SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=130.193.59.242,127.0.0.1,localhost

NAME=habits
USER=tracker_user
PASSWORD=tracker_password
HOST=localhost
PORT=5432

STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_SUCCESS_URL=http://localhost:8000/payment/success/
STRIPE_CANCEL_URL=http://localhost:8000/payment/cancel/

CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=redis://localhost:6379

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=your_password
DEFAULT_FROM_EMAIL=your_email@yandex.ru

TELEGRAM_BOT_TOKEN=your_telegram_bot_token

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000